* {
  margin: 0;
  padding: 0;
}
body {
  margin: 20px auto;
  font-family: "Open Sans", sans-serif;
  background: #666;
  color: #fff;
}

.postit h2 {
  font-weight: bold;
  font-size: 2rem;
  font-family: "Amatic SC", sans-serif;
}
.postit p {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
}
ul,
li {
  list-style: none;
}

li {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
ul {
  position: relative;
}
ul li {
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
  height: 16rem;
  width: 16rem;
  background: yellow;
}

ul li a {
  text-decoration: none;
  color: #000;
  background: #ffc;
  position: absolute;
  top: 2rem;
  left: 0rem;
  display: block;
  height: 14rem;
  width: 100%;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}

ul li {
  margin: 1em;
}

/* ul li:nth-child(even) {
  transform: rotate(4deg);
} */
/* ul li:nth-child(3n) {
  transform: rotate(-3deg);

  background: #ccf;
}
ul li:nth-child(5n) {
  transform: rotate(5deg);

  background: #cfc;
} */
ul li:hover,
ul li:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.addbutton {
  position: absolute;
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  bottom: 4rem;
  right: 8rem;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.addbutton:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.datainspector {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: lightgoldenrodyellow;
  gap: 1rem;
  height: 15rem;
  width: 25rem;
  border-radius: 5px;
  bottom: 4rem;
  left: 8rem;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  justify-content: left;
  align-items: flex-start;
  padding: 1rem;
  margin: 0;
  cursor: pointer;
  outline: rgb(0, 0, 0);
}

.datainspector p {
  font-family: "Open Sans", sans-serif;
}

.datainspector div {
  background-color: lightgrey;
}

.deleteme {
  position: absolute;
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  top: 0.5rem;
  right: 1rem;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
